<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Neural Network Digit Recognition</title>
    </head>
    <body>
        <h1>Neural Network Digit Recognition</h1>
        <form method="post" action="/predict">
        <button type="submit">Predict random digit</button>
    </form>
    {% if result %}
    <div id="result">
        <p>Label: {{ result.true_label }}</p>
        <p>Prediction: {{ result.predicted_class }}</p>
    </div>
    {% endif %}
    </body>
</html>