<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Neural network digit recognition</title>
</head>
<body>
    <h1>Neural network digit recognition</h1>
    <p>Current model accuracy with test data: {{ test_accuracy }}%</p>
    {% if result %}
        <img src="{{ image_path }}" alt="MNIST Image">
        <p>Label: {{ result.true_label }}</p>
        <p>Prediction: {{ result.predicted_class }}</p>
    {% endif %}
    <form action="/predict" method="post">
        <button type="submit">Predict</button>
    </form>
</body>
</html>